@import url('https://fonts.googleapis.com/css2?family=Kadwa:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

* {
    margin: 0px;
    padding: 0px;

    a {
        text-decoration: none;
        color: white;
    }
}

body {
    background-color: #F5F5F5;
}

p {
        text-align: center;
        font-family: "Kadwa", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 20pt;
}

h1, h2 {
    text-align: center;
    font-weight: bolder;
}

/* TOP START */
.top {
    display: inline;
    color: white;
    
    .header {
        display: flex;
        justify-content: center;
        padding: 2rem;
        background-color: #111F35;
    
    }
}


.navbar {
    display: flex;
    justify-content: center;
    background-color: #121428;
    padding: 1.5rem;
    
    .paragraph_navbar {
        display: inline;
        padding: 4rem;
    }
}

/* TOP END */

.box {
    display: flex;
    justify-content: center;
}
.about {
    padding: 2rem;

}

#title {
    padding: 3rem;
}

.chef {
    display: flex;
    .paragraph_chef_desc {
        text-align: start;
        padding: 8rem 15rem;
    }

    .chef_name {
        font-family: "Koulen", sans-serif;
        font-weight: 400;
        font-style:normal;
        font-size: 25pt;
        padding: 1rem;
        font-weight: bolder;
    }

}